<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>{{ title }} </span>
    <span class="spacer"></span>
    <div class="padding">
    <a mat-raised-button color="primary" routerLink="alert/list">Existing Alerts</a>
    <!-- <a mat-raised-button color="primary" routerLink="basins">Basins</a> -->
    <button mat-raised-button color="primary" (click)="login_logout()">{{ login_logout_text }}</button>
    <!-- <a mat-raised-button (click)="login_logout()" color="primary">login</a> -->
</div>
</mat-toolbar-row>
</mat-toolbar>