<div >

    <div *ngIf="alert | async as alert_as">
        <!-- <div  > *ngIf="editable | async as edit_as" -->
        <!-- <p > alert.alert_status is --{{ (alert | async)?.alert_description }}--</p> -->
        <div [formGroup]="single_alert_form" class=container>
            <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Alert Id</mat-label>
                <input matInput [attr.value]="alert_as.alert_id" type="text" [disabled]="form_disabled">
            </mat-form-field>
            <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Alert Description</mat-label>
                <input matInput [attr.value]="alert_as.alert_description" type="text" [disabled]="form_disabled">
            </mat-form-field>
            <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Alert Original Issue Date</mat-label>
                <input [disabled]="form_disabled" matInput [attr.value]="format_date(alert_as.alert_created)"
                    type="text">
            </mat-form-field>
            <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Alert Last Updated</mat-label>
                <input [disabled]="form_disabled" matInput [attr.value]="format_date(alert_as.alert_updated)"
                    type="text">
            </mat-form-field>
            <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Alert Status</mat-label>
                <input [disabled]="form_disabled" matInput [attr.value]="alert_as.alert_status" type="text">
            </mat-form-field>
            <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Meteorological Conditions</mat-label>
                <mat-quill
                    [(ngModel)]="meteorological_data_contents"
                    (onEditorCreated)="created($event)"
                    [ngModelOptions]="{standalone: true}"
                    [readOnly]="quillReadonly">
                </mat-quill>
            </mat-form-field>
            <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Hydrological Conditions</mat-label>
                <mat-quill
                    [(ngModel)]="hydrological_data_contents"
                    (onEditorCreated)="created($event)"
                    [ngModelOptions]="{standalone: true}"
                    [readOnly]="quillReadonly">
                </mat-quill>
            </mat-form-field>
            <!-- <mat-form-field FloatLabel='always' class="alert-elements">
                <mat-label>Hydrological Conditions</mat-label>
                <input matInput [attr.value]="alert_as.alert_hydro_conditions" type="text" [disabled]="form_disabled">
            </mat-form-field> -->
            

            <button mat-raised-button color="primary" (click)="onEnableEditing()">Edit</button>
        </div>
    </div>
</div>