<div>
    <form [formGroup]="basin_alertlvl_form" (ngSubmit)="onDeleteElement()" class=basin-alertlvl-container>
        <div class="bas-lvl-item">
            <mat-form-field floatLabel='always' class="alert-elements">
                <mat-label basin-alertlvl-items>Select Basin</mat-label>
                <mat-select (value)="this.basin_name" formControlName="basin_name" basin-alertlvl-items>
                    @for (basin of basins | async; track basin) {
                    <mat-option [value]="basin.basin_name">{{ basin.basin_name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="bas-lvl-item">
            <mat-form-field floatLabel='always' class="alert-elements">

                <mat-label basin-alertlvl-items>Select Alert Level</mat-label>
                <mat-select (value)="this.alert_level" formControlName="alert_level">
                    <mat-option value="high">high</mat-option>
                    <mat-option value="medium">medium</mat-option>
                    <mat-option value="low">low</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="bas-lvl-item">
            <button mat-raised-button color="warn">Delete</button>
        </div>
    </form>
</div>
<br>