<div>
    <div class="basin-alertlvl-container">
        <mat-label class="bas-lvl-item">Define Areas and Alert Levels</mat-label>
    </div>
    <form [formGroup]="basin_alertlvl_form" (ngSubmit)="onDeleteElement()" class="basin-alertlvl-container">
        <div class="bas-lvl-item">
            <mat-form-field floatLabel='always' class="alert-elements">
                <mat-label basin-alertlvl-items>Select Basin</mat-label>
                <mat-select 
                (value)="this.basin_name"
                (selectionChange)="basinChange($event)"
                formControlName="basin_name" 
                basin-alertlvl-items>
                    @for (basin of basins | async; track basin) {
                    <mat-option [value]="basin.basin_name">{{ basin.basin_name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="bas-lvl-item">
            <mat-form-field floatLabel='always' class="alert-elements">

                <mat-label basin-alertlvl-items>Select Alert Level</mat-label>
                <mat-select
                    (selectionChange)="alertLvlChange($event)"
                    (value)="this.alert_level"
                    formControlName="alert_level">
                        <mat-option value="HSA">High Streamflow Advisory</mat-option>
                        <mat-option value="FWatch">Flood Watch</mat-option>
                        <mat-option value="FWarning">Flood Warning</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="bas-lvl-item">
            <button mat-raised-button color="warn">Delete</button>
        </div>
    </form>
</div>
<br>